APP_NAME=WhiskList
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=sqlite
DB_DATABASE=database/database.sqlite

SESSION_DRIVER=database
SESSION_LIFETIME=120

QUEUE_CONNECTION=sync

CACHE_STORE=database

MAIL_MAILER=log
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=[your_email@gmail.com](mailto:your_email@gmail.com)
MAIL_PASSWORD=your_app_password
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=[your_email@gmail.com](mailto:your_email@gmail.com)
MAIL_FROM_NAME="WhiskList"

VITE_APP_NAME="WhiskList"
